/* Reset all margins and padding */
* {
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    background-image: url(../images/pokemon-background.webp);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Header */
header #title {
    max-width: 800px;
    margin: auto;
    font-size: 5rem;
    text-align: center;
    text-shadow: 3px 3px black;
    color: white;
}

/* Game area (PokeDex) */
#pokedex {
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
    height: 750px;
    display: flex;
    flex-direction: row;
}

#left-panel {
    width: 49%;
    height: 100%;
    border: 4px solid #111;
    border-radius: 5px;
    background-color: crimson;
}

#hinge {
    width: 2%;
    height: 100%;
    border: 3px solid #111;
    border-radius: 5px;
    background-color: crimson;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), crimson, rgba(0, 0, 0, 0.5));
}

#right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 10%;
    width: 49%;
    height: 90%;
    border: 4px solid #111;
    border-radius: 5px;
    background-color: crimson;
}

#top-lights {
    height: 7%;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 4px solid #111;
}

#blue-light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightsteelblue;
    border: 4px solid #111;
}

#red-light,
#yellow-light, 
#green-light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid #111;
}

#red-light {
    background-color: red;
}

#yellow-light {
    background-color: yellow;
}

#green-light {
    background-color: green;
}

/* Animation screen */
#animation-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 450px;
    border-radius: 5px;
    border: 8px solid #111;
    background-color: whitesmoke;
}

#meowth {
    margin: auto;
    width: 50%;
}

#trap {
    margin: auto;
    width: 50%;
}

#balloons {
    grid-area: 1 / span 2;
    width: 50%;
}

/* Scores area */
#score-area {
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

#pokemon-found,
#times-trapped {
    background-color: #84d07d;
    border: 3px solid #111;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#reset-button {
    display: block;
    color: white;
    background-color: #28abfd;
    border: 2px solid #134b5f;
    width: 100px;
    border-radius: 5px;
    font-size: 2rem;
    margin: auto;
    font-family: 'VT323', monospace;
}

/* Answer screen */
#answer-screen {
    width: 400px;
    height: 100px;
    background-color: #111;
    color: white;
    border-radius: 5px;
    font-size: 3rem;
    text-align: center;
    border: 1px solid black;
}

#answer {
    margin-top: 25px;
}

/* Input keyboard */
#input-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
}

#input-keyboard button {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    margin: 2px;
    color: white;
    background-color: #28abfd;
    border: 2px solid #134b5f;
    width: 40px;
    border-radius: 5px;
}

#first-row, 
#second-row, 
#third-row {
    display: flex;
    flex-direction: row;
}